
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #333;
    color: #fff;
}

.container {
    max-width: 500px;
    height: 100vh;
    margin: auto;
    border: 1px dotted #C2E812;
}

.box {
    height: 25%;
    width: auto 0;
    margin: 25px 0;
}

.box:first-child {
    border: 1px solid tomato;
}

.box:last-child {
    border: 1px solid lightblue;
}

@media (max-width: 500px) {
    .box {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
    }
}
